 <h1 [style]="myStyle">Style Component</h1>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h2>Parent to child Communication</h2>
      <div class="text-center">
        
        <app-data-bound [message]="parentMessage" (messageEvent)="receiveMessage($event)"></app-data-bound>
        <p class="parent-message">{{ childMessage }}</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h2>Interacting with template variable</h2>
      <app-child-component #child></app-child-component>
          <h4 class="card-title">Parent Component Data</h4>
          <p class="card-text">Parent: <span class="child-data">{{child.data}}</span></p> 
    </div>
  </div>
</div> 
